{% extends 'base.html' %}
{% load static %}
{% block title %} Polls Detail {% endblock %}
{% block content %}
{% include 'polls/_nav.html' %}
<section>
    <h1>{{ question.question_text }}</h1>
    <h4>생성일자 : {{ question.pub_date|date:"Y-m-d H:i" }}</h4>
    <h4>분류 : 
        {% for category in question.category.all %}
            {{ category.name }}{% if not forloop.last %}, {% endif %}
        {% endfor %}
    </h4>

    {% if error_message %}
        <p><strong>{{ error_message }}</strong></p>
    {% endif %}

    <form action="{% url 'polls:vote' question.id %}" method="post">
        {% csrf_token %}
        {% for choice in question.choice_set.all %}
            <input type="radio" name="choice" id="choice{{ forloop.counter }}" value="{{ choice.id }}">
            <label for="choice{{ forloop.counter }}">{{ choice.choice_text }}</label><br>
        {% endfor %}
        <input type="submit" value="Vote" class="mt-3 btn btn-primary">
    </form>
    <hr>
    <div>
        <a href="{% url 'polls:update' question.id %}" class="btn btn-info btn-sm">질문 수정</a>
        <a href="{% url 'polls:delete' question.id %}" class="btn btn-danger btn-sm"
        onclick="return confirm('poll {{question.question_text}}를 삭제하시겠습니까?')">
            질문 삭제</a>
        <a href="{% url 'polls:index' %}" class="btn btn-primary btn-sm">Go List</a>
        <a href="javascript:history.back()" class="btn btn-secondary btn-sm">Go Back</a>
    </div>
</section>

{% endblock %}
