{% extends "base/base.html" %}
{% block title %} Todo 생성 {% endblock %}
{% block content %}
{% include 'todos/_nav.html' %}
<div class="d-flex flex-column justify-content-start align-items-start gap-3">
    <div class="border" style="width: 100%; padding:2rem;margin:auto;">
        <form action="" method="POST">
            {% csrf_token %}
            {{ form.media }}
            {{ form.as_p }}
            <button class="btn btn-success">생성하기</button>
        </form>
        <br>
        <div class="mt-3">
            <a href="{% url 'todos:index' %}" class="btn btn-primary btn-sm">GO LIST</a>
            <a href="javascript:history.back()" class="btn btn-secondary btn-sm">Go Back</a>
        </div>
    </div>
</div>
{% endblock %}