{% extends "base/base.html" %}
{% block title %} Todo 목록 {% endblock %}
{% block content %}
{% include 'todos/_nav.html' %}
    {% if page_obj %}
    {% for todo in page_obj %}
    <div class="border rounded-3 ps-3">
        <div class="d-flex gap-3 align-items-end justify-content-star mb-0 pb-0">
            <h3><a href="{% url 'todos:update' todo.id %}"
                {% if todo.is_completed %}class="text-decoration-line-through"{% endif %}
            >{{ todo.title }}</a></h3>
            <div class="pb-2">
                <small class="text-muted">on {{ todo.created_at|date:"Y-m-d H:i"}} </small>
                <small class="text-muted">by {{ todo.user.username }} </small>
            </div>
        </div>
        <hr>
        <div class="mb-2">{{ todo.content|safe }} </div>
    </div>
    <br>
    {% endfor %}
    {% else %}
    <div>할일이 없습니다.</div>
    {% endif %}
{% endblock %}