{% extends "base.html" %}
{% block content %}
{% include 'todos/_nav.html' %}
<div class="d-flex flex-column justify-content-start align-items-start gap-3 bg-white rounded-3">
    <div class="border" style="width: 100%; padding:2rem;margin:auto;">
        <form action="" method="POST">
            {% csrf_token %}
            {{ form.media }}
            {{ form.as_p }}
            <button class="btn btn-success btn-sm">수정하기</button>
            <a href="{% url 'todos:delete' todo.id %}" class="btn btn-danger btn-sm" onclick="return confirm('삭제하시게요 ?')">삭제하기</a>
        </form>
    </div>
    <div class="mt-3">
        <a href="{% url 'todos:index' %}" class="btn btn-primary btn-sm">GO LIST</a>
        <a href="javascript:history.back()" class="btn btn-secondary btn-sm">Go Back</a>
    </div>
</div>
{% endblock %}