<nav class="navbar navbar-expand-lg bg-dark navbar-dark py-0 rounded-3 mb-3">
    <div class="container-fluid">
        <a class="navbar-brand" href="{% url 'blog:index' %}">Posts</a>
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="{% url 'blog:add' %}">Create Post</a>
            </li>
        </ul>
        <span class="me-3 text-info">{{page_obj.paginator.count}}</span>
        <form class="d-flex rounded-3" role="search" >
            <input class="form-control me-2 py-0" type="search" placeholder="Search title, author" name='searched' aria-label="Search"/>
            <button class="btn btn-outline-success btn-sm py-0" type="submit">Search</button>
        </form>
    </div>
</nav>