{% extends "base/base.html" %}
{% block title %} 포스트 생성 {% endblock %}
{% block content %}
{% include 'blog/_nav.html' %}
    <div class="content-section">
        <form method="post">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">New Post</legend>
                {{ form.media }}
                {{ form.as_p }}
            </fieldset>
            <div class="form-group">
                <button class="btn btn-outline-info mb-3" type="submit">Save Post</button>
            </div>
            <a class="ml-2" href="{% url 'blog:index' %}" class="text-muted">취소</a>
        </form>
    </div>
{% endblock %}