{% extends 'base.html' %}
{% block title %} Project Home {% endblock %}

{% block content %}
<section>
  <h1>Project 개요</h1>
  <h2>시스템 체크 프로세스</h2>
  <h3>전체 프로젝트 설치 및 시행 기초:General Procedure for an IT System Health Check(ITSHC)</h3>
  <p>일반적인 IT system에 대한 체크 프로세스</p>
  <ol>
    <li>Inventory and Documentation : 검사 대상에 대한 검토</li>
    <li>Define Scope and Objectives : 점검대상에 대한 검검 항목 정의</li>
    <li>Network Assessment: 네트워크 에 대한 검토</li>
    <li>System Evaluation: 시스템 에 대한 데이터 수집</li>
    <li>Security Analysis: 보안에 대한 검토</li>
    <li>Data Protection Review : 데이터 보호/백업에 대한 검토</li>
    <li>Automated Monitoring: 자동화된 모니터링에 대한 검토</li>
    <li>Reporting and Recommendations: 보고서 생성</li>
  </ol>
  <h2>Automated System Check Tool: ASCT</h2>
  <ol>
    <li>Planning</li>
    <li>Action Plan</li>
    <li>Implementation</li>
    <li>Testing</li>
    <li>Monitoring</li>
    <li>Maintenance</li>
    <li>Revalidation</li>
  </ol>
</section>
<section>
  <h1>설치 패키지: requirments.txt</h1>
  <pre>asgiref==3.10.0
crispy-bootstrap5==2025.6
Django==5.2.8
django-crispy-forms==2.5
django-debug-toolbar==6.1.0
pillow==12.0.0
pip==25.3
psycopg2==2.9.11
sqlparse==0.5.3
tzdata==2025.2</pre>
</section>
<section>
  <h1>전체 프로젝트 설치 및 시행 기초</h1>
  <p>암호: admin/admin, test/test4321</p>
  <h3>start Django project</h3>
  <pre>django-admin startproject myproject
cd myproject
python manage.py runserver</pre>
  <h3>create an app</h3>
  <pre>python manage.py startapp myapp</pre>
  <h3>Configure settings: Edit myproject/settings.py</h3>
  <pre>INSTALLED_APPS = [
    # ...
    'myapp.apps.MyappConfig',
]</pre>
</section>
<section>
    <h3>project structure</h3>
<pre>
/asct-v4
  /app_1
    __init__.py
    admin.py
    app.py
    urls.py
    views.py
  /config
    __init__.py
    asgi.py
    settings.py
    urls.py
    wsgi.py
  /static : static files (config.settings에서 설정 필요)
  /templates : 템플릿 위치(config.settings에서 설정 필요)
manage.py
</pre>
<h3>runserver</h3>
<pre>python manage.py runserver</pre>
</section>

<section>
  <h3>superuser 생성</h3>
  <pre>python manage.py createsuperuser
# db migration이 없어서 애러남
python manage.py makemigrations
python manage.py migrate
  </pre>
  <h3>model을 생성/변경하면 migration을 수행해야함</h3>
  <pre>python manage.py makemigrations
python manage.py migrate</pre>
<pre># 실행된 migration 확인
python manage.py sqlmigrate blog 0001</pre>
<pre>## manage.py 환경을 수용한 shell 실행
python manage.py shell
## db 용 shell 실행(db에 연결)
python manage.py dbshell</pre>
</section>
<section>
  <h3>화면 이쁘게 해주는 crispy 설정</h3>
  <pre>pip install crispy-bootstrap5
# settings.py에 추가
INSTALLED_APPS = (
    ...
    "crispy_forms",
    "crispy_bootstrap5",
    ...
)

CRISPY_ALLOWED_TEMPLATE_PACKS = "bootstrap5"

CRISPY_TEMPLATE_PACK = "bootstrap5"    
  </pre>
</section>
<section>
  <h2>postgresql db 설정</h2>
  <h3>project에서 pip install psycopg2 설치 필요(그냥 하면 안됨)</h3>
  <pre>pip install psycopg2-binary</pre>
  <h3>별도 서버에 postgresql DB 설치</h3>
  <p>postgresql server 설치하고, pg_hba.conf 설정하고, 원격접속 password 설정</p>
  <pre>sudo -u postgres psql
ALTER USER postgres WITH PASSWORD '새_비밀번호';
sudo nano /etc/postgresql/16/main/pg_hba.conf  # <version>을 실제 버전에 맞게 변경

TYPE  DATABASE  USER    ADDRESS         METHOD
host    all       all     127.0.0.1/32    md5
아래 ip도 추가
host    all             all             172.31.16.1/32            md5

sudo vi /etc/postgresql/16/main/postgresql.conf
password_encryption = md5
listen_addresses = '*'      what IP address(es) to listen on;

sudo systemctl restart postgresql

- 연결 시험
psql -h localhost -U postgres -W</pre>
</section>
<section>
  <h2>json 파일에서 데이터 가져오기</h2>
  <pre>import json
with open('blog/post_data.json', 'r') as f:
  posts_json = json.load(f)
for p in posts_json:
  post = Post(title=p['title'], content=p['content'], author_id = p['user_id'])
  post.save()</pre>
</section>
<section>
  <h2>db에서 테이블 삭제시 재설정 방법</h2>
  <p>db table을 대규모로 변경하면 변경사항이 잘 적용이 안됨
<br> 이때 db table를 강제로 삭제하면 다시 migrate해도 테이블이 생성되지 않음
<br>이때 db table 을 신규로 생성하기 위한 방법</p>
  <pre>python manage.py migrate asct zero --fake   # asct는 app name
python manage.py migrate asct</pre>
</section>
<section>
  <h4>etc backup</h4>
  <pre># backup for server info models
ip_management = models.GenericIPAddressField(null=True, blank=True)
ip_virtual = models.GenericIPAddressField(null=True, blank=True) # nat, vip 등 가상아이피
# backup for network models
network_service_2 = models.CharField(max_length=10, choices=network_type, default='10G', null=True, blank=True)
network_service_2_inbound = models.DecimalField(max_digits=20, decimal_places=2, null=True, blank=True)
network_service_2_outbound = models.DecimalField(max_digits=20, decimal_places=2, null=True, blank=True)
network_nas_1 = models.CharField(max_length=10, choices=network_type, default='10G', null=True, blank=True)
network_nas_1_inbound = models.DecimalField(max_digits=20, decimal_places=2, null=True, blank=True)
network_nas_1_outbound = models.DecimalField(max_digits=20, decimal_places=2, null=True, blank=True)
network_nas_2 = models.CharField(max_length=10, choices=network_type, default='10G', null=True, blank=True)
network_nas_2_inbound = models.DecimalField(max_digits=20, decimal_places=2, null=True, blank=True)
network_nas_2_outbound = models.DecimalField(max_digits=20, decimal_places=2, null=True, blank=True)

network_san_1 = models.CharField(max_length=10, choices=network_type, default='16G', null=True, blank=True)
network_san_1_inbound = models.DecimalField(max_digits=20, decimal_places=2, null=True, blank=True)
network_san_1_outbound = models.DecimalField(max_digits=20, decimal_places=2, null=True, blank=True)
network_san_2 = models.CharField(max_length=10, choices=network_type, default='16G', null=True, blank=True)
network_san_2_inbound = models.DecimalField(max_digits=20, decimal_places=2, null=True, blank=True)
network_san_2_outbound = models.DecimalField(max_digits=20, decimal_places=2, null=True, blank=True)


network_mgmt_1 = models.CharField(max_length=20, choices=network_type, default='1G', null=False)
network_mgmt_2 = models.CharField(max_length=20, choices=network_type, default='1G', null=True, blank=True)

# backup for storage models

storage_san_total = models.IntegerField(null=True, blank=True)
storage_san_usage_percent = models.DecimalField(max_digits=4, decimal_places=2, null=True, blank=True)

storage_nfs_total = models.IntegerField(null=True, blank=True)
storage_nfs_usage_percent = models.DecimalField(max_digits=4, decimal_places=2, null=True, blank=True)
</pre>
</section>

{% endblock %}