<nav class="navbar navbar-expand-md fixed-top mb-2 py-0">
    <div class="container-lg">
        <a class="navbar-brand mr-4" href="/"><i class="bi bi-house"></i></a>
    <div class="collapse navbar-collapse" id="navbarToggle">
        <div class="navbar-nav mr-auto">
            <div id="toggleCol" class="p-0 m-0">
                <button id="sidebarToggleBtn" class="btn btn-md btn-border-secondary text-dark py-1 mt-1" aria-expanded="true" aria-controls="sidebarCol">☰</button>
            </div>
            <div class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false"> Apps </a>
                <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="{% url 'blog:index' %}"><i class="bi bi-blockquote-left"></i> Blog</a></li>
                    <li><a class="dropdown-item" href="{% url 'idols:index' %}"><i class="bi bi-images"></i> Idols</a></li>
                    <li><a class="dropdown-item" href="{% url 'asct:index' %}"><i class="bi bi-gear-wide-connected"></i> ASCT</a></li>
                    <li><a class="dropdown-item" href="{% url 'store:index' %}"><i class="bi bi-shop"></i> Store</a></li>
                    <li><a class="dropdown-item" href="{% url 'library:index' %}"><i class="bi bi-journals"></i> Library</a></li>
                    <li><a class="dropdown-item" href="{% url 'polls:index' %}"><i class="bi bi-question-square"></i> Polls</a></li>
                    <li><a class="dropdown-item" href="{% url 'events:index' %}"><i class="bi bi-calendar2-event"></i> Events</a></li>
                </ul>
            </div>
            <div class="nav nav-tabs">
                <li class="nav-item">
                <a class="nav-link {% if '/docs/' in request.path %} active {% endif %}" href="{% url 'docs-contents' %}"> DOC</a></li>
                <li class="nav-item">
                    <a class="nav-link {% if '/blog/' in request.path %} active {% endif %}" href="{% url 'blog:index' %}"> Blog</a>
                    </li>
                <li class="nav-item">
                    <a class="nav-link {% if '/idols/' in request.path %} active {% endif %}" href="{% url 'idols:index' %}"> Idols</a>
                    </li>
                <li class="nav-item">
                    <a class="nav-link {% if '/asct/' in request.path %} active {% endif %}" href="{% url 'asct:index' %}"> ASCT</a>
                    </li>
                <li class="nav-item">
                    <a class="nav-link {% if '/store/' in request.path %} active {% endif %}" href="{% url 'store:index' %}">Store</a>
                    </li>
                <li class="nav-item">
                    <a class="nav-link {% if '/library/' in request.path %} active {% endif %}" href="{% url 'library:index' %}"> Library</a>
                    </li>
                <li class="nav-item">
                    <a class="nav-link {% if '/polls/' in request.path %} active {% endif %}" href="{% url 'polls:index' %}"> Polls</a>
                    </li>
                <li class="nav-item">
                    <a class="nav-link {% if '/events/' in request.path %} active {% endif %}" href="{% url 'events:index' %}"> Events</a>
                    </li>
            </div>
        </div>
        <div class="navbar-nav ms-auto">
            <div class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false"> {% if user.is_authenticated %}
                    {{ user.username}} {% else %}Guest {% endif %} </a>
                <ul class="dropdown-menu">
                    {% if user.is_authenticated %}
                    <li>
                        <form method="post" action="{% url 'users:logout' %}">
                            {% csrf_token %}
                            <button class="dropdown-item" type="submit">Logout</button>
                        </form>
                    </li>
                    <li><a class="dropdown-item" href="{% url 'users:edit-profile' %}">Profile</a>
                    </li>
                    {% else %}
                    <li><a class="dropdown-item" href="{% url 'users:login' %}">Login</a></li>
                    <li><a class="dropdown-item" href="{% url 'users:register' %}">Register</a></li>
                    {% endif %}
                    <li><a class="dropdown-item" href="/admin">Admin</a></li>
                </ul>
            </div>
        </div>
    </div>
    </div>
</nav>