<nav class="navbar navbar-expand-md navbar-dark bg-primary fixed-top">
    <div class="container-lg">
    <a class="navbar-brand mr-4" href="{% url 'main-home' %}"><i class="bi bi-house"></i></a>
    <div class="collapse navbar-collapse" id="navbarToggle">
        <div class="navbar-nav mr-auto">
            <div id="toggleCol" class="p-0 m-0">
                <button id="sidebarToggleBtn" class="btn btn-md btn-border-secondary text-white py-1 mt-1" aria-expanded="true" aria-controls="sidebarCol">☰</button>
            </div>
            <a class="nav-item nav-link" href="{% url 'docs-contents' %}">
                <i class="bi bi-menu-button-wide-fill"></i> DOC</a>
            <a class="nav-item nav-link" href="{% url 'blog-home' %}"><i class="bi bi-blockquote-left"></i> Blog</a>
            <a class="nav-item nav-link" href="{% url 'idol-home' %}"><i class="bi bi-images"></i> IDOLS</a>
            <a class="nav-item nav-link" href="{% url 'asct-home' %}"><i class="bi bi-gear-wide-connected"></i> ASCT</a>
            <a class="nav-item nav-link" href="{% url 'store-home' %}"><i class="bi bi-shop"></i> Store</a>
        </div>
        <div class="navbar-nav ms-auto">
            {% if user.is_authenticated %}
            <form method="post" action="{% url 'logout' %}" style="display:inline; margin-top:7px; margin-right:8px;">
                {% csrf_token %}
                <button class="nav-item nav-link btn btn-link" type="submit" style="padding:0;">Logout({{ user.username}})</button>
            </form>
            <a class="nav-item nav-link" href="{% url 'profile' %}">Profile</a>
            {% else %}
            <a class="nav-item nav-link" href="{% url 'login' %}">Login</a>
            <a class="nav-item nav-link" href="{% url 'register' %}">Register</a>
            {% endif %}
            <a class="nav-item nav-link fst-italic fs-6" href="/admin">Admin</a>
        </div>
    </div>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse"  
        data-bs-target="#navbarToggle" aria-controls="navbarToggle" 
        aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    </div>
</nav>