{% extends "base/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
    <div class="d-flex flex-column justify-content-center align-items-center" style="min-height: 80vh;">
        <div class="border" style="width: 60%; padding:2rem;margin:auto;">
            <form method="post">
                {% csrf_token %}
                <fieldset class="form-group">
                    <legend class="border-bottom mb-4">암호 변경</legend>
                    {{ form|crispy }}
                </fieldset>
                <div class="form-group">
                    <button class="btn btn-outline-info mb-3" type="submit">암호 변경</button>
                </div>
            </form>
        </div>
    </div>
{% endblock %}