{% extends "base/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
    <div class="content-section">
        <form method="post" action="{% url 'users:register' %}">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">지금 등록하세요.</legend>
                <br><br>
                {{ form|crispy }}
            </fieldset>
            <div class="form-group">
                <button class="btn btn-outline-info mb-3" type="submit">Sign Up</button>
            </div>
        </form>
        <div class="border-top pt-3">
            <small class="text-muted">계정이 있으면? 
                <a class="ml-2" href="{% url 'login' %}">로그인</a>
            </small>
        </div>
    </div>
{% endblock %}