{% extends "base/base.html" %}
{% load crispy_forms_tags %}
{% block title %} Idol 상세보기 {% endblock %}
{% block content %}
{% include 'idol/_nav.html' %}
<h2 class="p-0 m-0">{{ idol.title }}
    <button class="btn btn-sm btn-link edit-idol-title-btn mt-2" id="toggle-form">✏️</button></h2>
    <div class="d-flex align-items-center justify-content-between m-0 p-0">
        <form action="{% url 'idols:update' idol.id %}" method="POST"  id="toggled-form" style="display:none;">
            {% csrf_token %}
            <!-- <input type="text" value="{{ idol.title }}" class="m-0 me-3 p-0" name="title"> -->
            {{ form.title }}
            <button type="submit" class="btn btn-outline-info btn-sm p-0 px-2 m-0">Save</button>
        </form>
        <div class="mt-3">
            <a href="{% url 'idols:update' idol.id %}" class="btn btn-outline-info btn-sm my-3">Edit</a>
            <a href="{% url 'idols:delete' idol.id %}" class="btn btn-outline-danger btn-sm my-3" onclick="return confirm('삭제 할까요 ?')">Delete</a>
            <a href="javascript:history.back()" class="btn btn-secondary btn-sm">Go Back</a>
        </div>
</div>
<div class="card">
    <img src="{{ idol.image.url }}" class="card-img-top" alt="{{ idol.title }}">
</div>
<script>
    document.addEventListener('DOMContentLoaded', function() {
        const toggleButton = document.getElementById('toggle-form');
        const titleForm = document.getElementById('toggled-form');

        toggleButton.addEventListener('click', function() {
            // 폼의 현재 display 상태를 확인하고 토글합니다.
            if (titleForm.style.display === 'none') {
                titleForm.style.display = 'flex'; 
                titleForm.style.padding = '0'; 
                titleForm.style.margin = '0'; 
            } else {
                titleForm.style.display = 'none';
            }
        });
    });
</script>
{% endblock %}