{% extends 'base.html' %}
{% load static %}
{% block title %} Events Home {% endblock %}
{% block content %}
{% include 'events/_nav.html' %}
<section>
    <h1>Event Details</h1>
    <div class="card">
    <div class="card-body">
        <h5 class="card-title">{{ event.name }}</h5>
        <p class="card-subtitle mb-2 text-body-secondary">{{ event.event_date }} <small>by {{ event.manager }}</small></p>
        <hr>
        <p class="card-text">{{ event.description|safe }}</p>
        <hr>
        <ul class="list-group list-group-flush">
            <li class="list-group-item">집회이름 : {{ event.venue.name }}</li>
            <li class="list-group-item">참석자수: {{ event.attendees.count }}</li>
            <li class="list-group-item"><a href="{% url 'events:venue-details' event.venue.id %}" class="card-link">장소 정보</a></li>
        </ul>
    </div>
</div>
<div class="ms-2 py-4">
    <a href="{% url 'events:events-list' %}">목록으로 가기</a>
</div>

</section>

{% endblock %}