{% extends 'base.html' %}
{% load static %}
{% block title %} Events Home {% endblock %}
{% block content %}
{% include 'events/_nav.html' %}
<section>
    <div class="d-flex align-items-baseline gap-3 mb-2 justify-content-center">
        <h1>Events List </h1><div class="badge text-bg-secondary" style="height: 20px; margin-top:12px;">{{ page_obj.paginator.count }}</div>
    </div>
    <form class="d-flex" role="search" >
        <input class="form-control me-2" type="search" placeholder="Search events..." name='searched' aria-label="Search"/>
        <button class="btn btn-outline-success" type="submit">Search</button>
    </form>
    {% for event in page_obj %}
    <div class="d-flex justify-content-between align-items-center mb-2 border-bottom border-secondary p-3">
        <div class="d-flex gap-3 align-items-center ">
            <div><a href="{% url 'events:event-details' event.id %}">
                {{ event.name }}</a> ({{ event.event_date }})
            </div>            
            <div>장소: <a href="{% url 'events:venue-details' event.venue.id %}" class="card-link">{{ event.venue.name }}</a>(참석자수: {{ event.attendees.count }})</div>
            <div>by {{ event.manager }}</div>
        </div>
        {% if event.manager.id == user.id or request.user.is_superuser %}
        <div class="text-end">
            <a href="{% url 'events:event-update' event.id %}" class="btn btn-outline-secondary btn-sm me-3">수정</a>
            <form action="{% url 'events:event-delete' event.id %}" method="POST" class="d-inline" onsubmit="return confirm('정말로 삭제하시겠습니까?');">
                {% csrf_token %}
                <button type="submit" class="btn btn-outline-danger btn-sm">삭제</button>
            </form>
        </div>
        {% endif %}
    </div>
    {% endfor %}

</section>

{% endblock %}